.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 33px 0;
  background-color: $color-background;
  color: $color-light;
  z-index: 1;

  @include media-tablet {
    padding: 29px 0;
  }
  @include media-mobile {
    padding: 20px 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  user-select: none;

  &_colored {
    color: $color-logo;
  }
}
