.wrapper {
  max-width: $content-width + $padding-laptop;
  padding: 0 $padding-laptop;
  margin: auto;

  @include media-laptop {
    padding: 0 30px;
  }
  @include media-tablet {
    padding: 0 20px;
  }
}
