$color-dark: #000000;
$color-light: #ffffff;
$color-primary: #3e9cdc;
$color-hover: #43abf0;
$color-logo: #42a9ed;
$color-background: #10101de6;
$color-overlay: #10101d6f;

$color-hamburger: #10101d;
$color-border-ico: #286690;
$color-text-subtitle: #bbbbbb;
$color-text-input: #272733;
$color-options: #272733e6;
$color-select-button: #3d4050;
$color-text-button: #2a2b30;
$color-border-button: #6f6d7b;
$color-input: #ffffffd9;
$color-border-range: #ffffffb3;
$color-payment: #c3c3c3;

$padding-laptop: 40px;
$content-width: 1170px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
