@mixin font($size, $height, $weight: 800, $color: $color-dark, $style: normal, $case: uppercase) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
  font-style: $style;
  text-transform: $case;
}

@mixin columns($gap, $direction: row, $justify: space-between) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: wrap;
  gap: $gap;
}

@mixin basis($column, $gap) {
  flex-basis: calc((100% - (($column - 1) * $gap)) / $column);
}

@mixin media-laptop {
  @media (max-width: $content-width) {
    @content;
  }
}
@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}
@mixin media-mobile {
  @media (max-width: $mobile-big-width) {
    @content;
  }
}
@mixin media-mobile-small {
  @media (max-width: $mobile-small-width) {
    @content;
  }
}
