.order {
  padding: 125px 0 145px;
  background: $color-text-input url('/src/assets/image/order.jpg') no-repeat center / cover;

  @include media-tablet {
    padding: 50px 0 70px;
  }
}

.order__heading {
  text-align: center;
}

.order__subscription {
  margin: 0;

  @include font(
    $size: 1.8rem,
    $height: 2.2rem,
    $weight: 400,
    $color: $color-text-subtitle,
    $case: none
  );

  @include media-mobile {
    @include font(
      $size: 1.6rem,
      $height: 2rem,
      $weight: 400,
      $color: $color-text-subtitle,
      $case: none
    );
  }
}

.order__tools {
  @include columns($gap: 30px);

  @include media-laptop {
    margin: auto;
    max-width: 800px;
    @include columns($gap: 30px, $justify: center);
  }
  @include media-mobile {
    @include columns($gap: 20px, $justify: center);
  }
}
