.select {
  position: relative;
  padding: 0;
  border: none;

  &_active {
    border-radius: 10px;
  }
}

.select__button {
  padding: 13px 10px;
  background: url('/src/assets/image/icons/down.svg') no-repeat right 1rem top 50%;
  cursor: pointer;

  @include media-tablet {
    padding-right: 25px;
  }

  &_active {
    background: $color-select-button url('/src/assets/image/icons/up.svg') no-repeat right 1rem top
      50%;
    color: $color-light;
    border-radius: 0.3px 3px 0 0;
  }
}

.options {
  position: absolute;
  width: 100%;
  max-height: 180px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
  list-style: none;
  color: $color-light;
  background-color: $color-options;
  border: 1px solid $color-select-button;
  scrollbar-color: $color-primary $color-select-button;
  animation: close-select 0.5s forwards;

  &_show {
    border-radius: 0 0 3px 3px;
    animation: open-select 0.5s;
  }
}

.options__item {
  display: flex;
  height: 36px;
  padding-left: 10px;
  align-items: center;
  cursor: pointer;
  @extend %transition;

  &:hover {
    color: $color-logo;
  }
}
