.button {
  width: 183px;
  padding: 14px 0;
  border-radius: 4px;
  @extend %font-primary;
  @include font($size: 1.3rem, $height: 1.3rem, $weight: 400);
  cursor: pointer;
  @extend %transition;

  &_colored {
    background-color: $color-primary;
    color: $color-light;
    border: 1px solid currentColor;
    transition: background-color 0.5s, border-color 0.5s;

    &:hover {
      background-color: $color-hover;
      border-color: $color-hover;
    }
  }

  &_bordered {
    background-color: $color-light;
    color: $color-text-button;
    border: 1px solid $color-border-button;

    &:hover {
      background-color: $color-hover;
      color: $color-light;
      border-color: $color-hover;
    }
  }

  &_width_max {
    width: 100%;
  }
}
